
.header{

  width: 100%;
  height: 150px;
  flex-shrink: 0;
  background: rgba(69, 72, 170, 1); 
  opacity: 80%;

}

.navegacion 
{
  margin-top: 5rem;
  color:var(--negro);
  display: flex;
  gap: 2rem;

}
@media(min-width: 768px){
    .header
    {
        margin-top: 0;
    }
}
.navegacion a
{
  text-decoration: none;
  color: white;
  font-size: 1.4 rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  transition-property: color;
  transition-duration: .3s;
  font-family: 'Lexend',sans-serif;
}
.navegacion a:hover
{
  color: var(--celeste);
}
.barra{

    display: flex;
    flex-direction: column ;
    
}
@media (min-width:768px)
{
 .barra
    {
    flex-direction: row ;
    justify-content: space-between;
   }
}

.usuario
{
float: right;

}
.contactanos{
  place-content: center;
  border-radius: 40px;
  background: #f9f4f0;
  width: 320px;
  height: 80px;
  flex-shrink: 0;
  border: none;

}
.calendario{
  
  border-radius: 40px;
  background: #f9f4f0;
  width: 320px;
  height: 80px;
  flex-shrink: 0;
  border: none;

}
.contenidoEncima{
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: Lexend, sans-serif;
}

.contactanos, .calendario {
  margin: 50px 100px; /* Ajusta este valor según la separación que desees entre los botones */
}

.contenedorBotones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }