.carousel {
    max-width: 100%; /* Ancho máximo del carrusel */
    margin: auto; /* Centrar el carrusel en la página */
    

  }
  
  .carousel .slide img {
    max-width: 100%; /* Ajusta el tamaño de la imagen dentro del carrusel */
  }


  /*
  .carousel{
    display: none;
  }*/