

.img{
  padding: 2px 100px;
}


/*
.form-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 2px 200px; 
}
*/

.contenedorflotante{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al inicio */
  gap: 20px; 
}


.contenedorflotante input[type="text"]{
  background: rgba(255, 254, 254, 1);
  width: 200px;
  height: 28px;
  border-radius: 5px;
  border: none;
 }

.title{
 
  
    padding: 3px 100px;
    color: white;
    font-family: 'Lexend', sans-serif;
     font-size: 50px;
     font-weight: 800;
     letter-spacing: 0em;
 
 
  }


 .label{

  
    color: white;
    font-family: 'Lexend', sans-serif ;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0em;
    margin-right: 100px;
    
 }






  .editar
 {
 
   align-items: center;
   display: flex;
   justify-content: center; /* Centrar horizontalmente */
   cursor: pointer; /* Cambiar cursor al pasar el ratón */
   border-radius: 20px;
   background: rgba(230, 221, 214, 1);
   width: 120px;
   height: 45px;
   flex-shrink: 0;
   font-family: 'Lexend', sans-serif;
   font-size: 25px;
   font-weight: 900;
   border: none;
 }
 .editar:hover
 {
 
   background:var(--negro);
   border:none;
   color: white;
 
 
   
 }
 
 
 
 
 
 .LINK{
     font-size: 15px;
     color: white;
 }

 .seguimiento{
 
   color: white;
   font-family: 'Lexend', sans-serif;
   gap: 10px;
   font-weight: 600;
   font-size: 15px;
 
 
 
 }

 .contenedorAbajo{

  bottom: 160px;
  right: 100px;
  position: fixed;
 }